{% extends 'base.html' %}

{% block title %}Decrypted{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Rotate 13</h1>
    <p class="lead">We have a hard computing based challenge next. We combined the google billboard's 2 challenge into one and used PI instead of e. Find the first 10 digit prime number in PI where the digits also add up to 49.</p>
    <p class="lead">pi = <a href="{{ url_for('static', filename='pi.txt') }}" download>Here!<a></p>
</div>
{% endblock %}