{% extends 'base.html' %}

{% block title %}Slack!{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Slack!</h1>
    <p class="lead">Join the hack the fog slack <a target="_blank" href="https://join.slack.com/t/hackthefog2020/shared_invite/enQtODI4MDA0NTI3NDI2LTYzMTIwYWU3OWNjZTVjYWMxNGM3MjkxMGNlMDY0ZTM0N2VjNjM2NzIwMDhiMjc0ZTk5YjY5YjVjNjlkYzkxY2Q">here!</a></p>
    <br>
    <p class="lead">Find the channel named after the hash used by Bitcoin.</p>
</div>
{% endblock %}